<h1>All Appearances</h1>

<ul>
  <% @appearances.each do |appearance| %>
    <li><%= "Episode #{appearance.episode.number} - #{appearance.episode.date.strftime("%B %d, %Y")}"%></li>
    <%= link_to appearance.guest.name, appearance.guest %>
    <%= "Rating: #{appearance.rating}" %></li>
    <%= "Producer who booked it: #{appearance.user}" %></li>
  <% end %>
</ul>
